{{ define "main" }}
<!-- topics -->
<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      {{ range (where .Site.Pages "Type" "doc-category") }}
      <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow">
          <div class="card-body">
            <h3 class="card-title pt-5 pb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <ul class="list-styled text-left mb-4">
              {{ range .Data.Pages }}
              <li><a href="{{.Permalink}}">{{.Title}}</a></li>
              {{end}}
            </ul>
            <a href="{{ .Permalink }}" class="btn btn-outline-primary">Details</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /topics -->

<!-- call to action -->
{{ if .Site.Params.call_to_action.enable }}
{{ with .Site.Params.call_to_action }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center d-lg-block d-none">
        <img loading="lazy" src="{{ .image| absURL }}" class="img-fluid">
      </div>
      <div class="col-lg-8 text-lg-left text-center">
        <h2 class="mb-3">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

{{ end }}